:root {
  --main-blue: #1993e5;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f7f9fb;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #eaf1f8;
  color: rgba(0, 0, 0, 0.829);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 20px;
  font-weight: 600;
  color: #1477b8;
  margin-bottom: 35px;
}

.sidebar .bio {
  text-align: left;
}

.sidebar .profile {
  text-align: center;
}

.sidebar img {
  margin: 15px auto;
  border-radius: 50%;
  object-fit: cover;
  height: 125px;
  width: 130px;
}

.main-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.section {
  margin-bottom: 35px;
}

.section h2,
.section h3 {
  margin: 7px 0px 20px;
  color: #333;
  font-size: 18px;
  font-weight: 600;
}

.add-slot-form {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.add-slot-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 215px;
  background-color: #fff;
  transition: 0.2s ease-in-out;
}

.add-slot-form input:focus {
  border-color: #4f8ec6;
  outline: none;
}

.add-slot-form button {
  padding: 8px 20px;
  background-color: var(--main-blue);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.add-slot-form button:hover {
  background-color: #1477b8;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

thead {
  background-color: #eaf1f8;
}

th,
td {
  padding: 15px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}
th {
  font-weight: 600;
}
td {
  font-weight: 500;
}

tr.not-available {
  background-color: #fce9e9;
}

.availability-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.availability-actions button {
  margin-right: 8px;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.availability-actions button:last-child {
  margin-right: 0;
}

.availability-actions button:nth-child(1) {
  background-color: #fac82b;
  color: #fff;
  min-width: 35%;
}

.availability-actions button:nth-child(1):hover {
  background-color: #e0a800;
}

.availability-actions button:nth-child(2) {
  background-color: var(--main-blue);
  color: #fff;
}

.availability-actions button:nth-child(2):hover {
  background-color: #1477b8;
}

.availability-actions .cancel-btn {
  background-color: #ff2626;
  color: white;
}

.availability-actions .cancel-btn:hover {
  background-color: #c82333;
}

.section ul {
  margin: 8px 0;
  padding-left: 20px;
}

.section ul li {
  font-size: 15px;
  margin-bottom: 4px;
}

.patient-booking-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.patient-booking-container > div {
  margin-bottom: 25px;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #f9fcff;
}

.patient-booking-container strong {
  display: block;
  margin-bottom: 10px;
  color: #1477b8;
  font-size: 16px;
}

.patient-booking-container ul {
  margin: 0;
  padding-left: 20px;
  font-size: 25px;
  font-weight: 500;
}

.patient-booking-container li {
  font-size: 14px;
  margin-bottom: 4px;
  color: #333;
}

.patient-booking-container li::marker {
  color: #138496;
}

.patient-booking-container li.empty {
  color: #999;
  font-style: italic;
}

.nav-links {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-links button {
  padding: 8px;
  background-color: var(--main-blue);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-links button:hover {
  background-color: #1477b8;
}

.nav-links button.active {
  background-color: #1477b8;
}

.no-bookings {
  background-color: #fff3cd;
  border-left: 5px solid #ffc107;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(38%) sepia(90%) saturate(550%) hue-rotate(180deg);
  cursor: pointer;
  font-size: 20px;
}
.logout-btn {
  margin-top: 5px;
  background-color: white !important;
  color: var(--main-blue) !important;
  border: 2px solid var(--main-blue) !important;
  font-weight: 500;
  transition: 0.3s;
}
.logout-btn:hover {
  background-color: #1477b8 !important;
  color: white !important;
  border: 2px solid #1477b8 !important;
}

@media (max-width: 935px) {
  .dashboard-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
  .sidebar img {
    margin: 20px auto;
  }

  .main-content {
    min-width: 100%;
  }

  .add-slot-form {
    flex-direction: column;
    gap: 10px;
  }

  .add-slot-form input,
  .add-slot-form button {
    width: 100%;
  }

  .availability-actions {
    flex-direction: row;
    gap: 6px;
    justify-content: flex-start;
  }
  .availability-actions button:nth-child(1) {
    min-width: 25%;
  }

  table,
  th,
  td {
    font-size: 12px;
  }

  .patient-booking-container > div {
    padding: 10px;
  }

  .nav-links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
  }

  .nav-links button {
    flex: 1 1 40%;
    margin-bottom: 5px;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  tr {
    margin-bottom: 15px;
    padding: 10px;
  }
}
